.profile-title {
  text-align: center;
  padding: 1px;
  
}

.profile-container {
  display: flex;
  height: 80px;
  flex-wrap: wrap;
  justify-content: center;
  /* Full height */
  align-content: center;
  align-items: center;
  
}

.profile-left {
  flex: 1;
  /* Takes half of the width */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin-left: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 20px;
  align-items: center;
}

.profile-right {
  flex: 2;
  /* Takes half of the width */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center the content */
  margin-right: 50px;
  align-items: center;
 
}

.transparent-container {
  width: 100%;
  /* Make the container responsive */
  max-width: 150px;
  /* Set a maximum width for the profile image container */
  height: auto;
  /* Allow height to adjust automatically */
  background-color: rgba(255, 255, 255, 0.5);
  /* Semi-transparent white background */
  border: 2px solid rgba(0, 123, 255, 0.5);
  /* Semi-transparent border */
  border-radius: 2px;
  /* Rounded corners */
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  /* Optional: Add blur effect to the background */
  margin-bottom: 20px;
  align-self: center;
  /* Space below the profile picture container */
}

.profile-img {
  width: 100%;
  /* Make image responsive */
  height: auto;
  /* Maintain aspect ratio */
  border-radius: 20px;
  transition: transform 0.3s ease;
  border: solid 5px rgba(36, 35, 35, 0.253);
}

.profile-img:hover {
  transform: scale(1.05); /* Subtle hover effect */
}

.image-options {
  display: flex;
  justify-content: space-between;
  /* Space out options */
  width: 100%;
  /* Full width for options */
  margin-top: 5px;
  /* Space above options */
  gap: 10px;
  padding: 10px;
  margin-bottom: 10px;
  
}

.option-img {
  width: 50px;
  /* Fixed size for option images */
  height: 50px;
  /* Fixed size for*/
  border-radius: 10px;
  /* Rounded corners for the images */
  border: 2px solid #ccc;
  /* Border around each image */
  padding: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Adds a subtle shadow */
  transition: transform 0.2s ease-in-out;


}

.option-img:hover {
  transform: scale(1.1); /* Zoom in the image slightly on hover */
  border-color: #4caf50; /* Change border color on hover */
  cursor: cell;
}

.submit-btn{
  padding: 10px;
  margin-top: 20px;
  background-color: var(--primary-accent);
  transition: background-color 0.3s ease;
}
.submit-btn:hover {
  background-color: var(--secondary-accent);
}

.enter-name-form{
  background-color: rgba(255, 255, 255, 0.247);
  margin-left: 20px;
  color: black;
  font-family: inherit;
  border: none;

  

}

.enter-info-name{
  background-color: "#86BBD8";
  border-radius: 40px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f3f5efe0;
  color: black;
  margin: 10px; 
  transition: border-color 0.25s;
  margin-top: 80px;
  border: rgba(43, 42, 42, 0.158) solid;

}

.player-sex-button{
  margin-left: 15px;
  border: "#758E4F";



}

.enter-info{
  background-color: "#86BBD8";
  border: rgba(43, 42, 42, 0.158) solid;
 
  


}

.enter-name-form{
  margin: 10px;
  width: 50%; /* Make the input field responsive */
  

}

.side-by-side-button{
  padding: 5px;
  margin: 2px;
  
  
}

.side-by-side-right-button{
  margin-left: 5px;
}

.side-by-side-left-button{
  margin-left: 10px;
}


.enter-info {
  background-color: #f9f9f9;
  border-radius: 40px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f3f5efe0;
  color: black;
  margin: 10px;
  transition: border-color 0.25s;
  margin-top: 10px;


}