:root {
  font-family: 'Pixelify Sans';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(19, 18, 18);
  background-color: #F6AE2D;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: cell;
}

[data-theme='dark'] {
  --text-color: #ffffff; /* Change text color */
  --background-color: #1a1a1a; /* Change background color */
  --link-color: #80bfff; /* Change link color */
  --button-bg: #2d2d2d; /* Button background color */
  --button-bg-hover: #444; /* Button hover color */
  --button-bg-active: #333; /* Button active color */
  --button-text-color: white; /* Button text color */
}

/* Link styling */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
  
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 40px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #758E4F;
  color: black;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 2px;
}

button:hover {
  border-color: rgba(0, 0, 0, 0.404);
  cursor: cell;
  outline-style: solid;
  transform: scale(1.1);
  
  ; /* Change border color on hover */
  
  
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    outline-style: solid;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.enter-info{
  background-color: #f9f9f9;
  border-radius: 40px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f3f5efe0;
  color: black;
  margin: 10px; 
  transition: border-color 0.25s;
  margin-top: 10px;


}



